# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual Environment
venv/
env/

# Django-related
db.sqlite3
.env

# Static and media
/static/
/media/

# IDE-specific files
.vscode/
.idea/
